*.pbm
*.pbm.gz
below_*
*.o
*.ppm
*.a
EPR/epr
EPR/epr.red
EPR/epr.gre
Code/sp2ppm
textures/
EPR/output_vid.avi
EPR/sp2ppm
EPR/Library/.vscode/settings.json
EPR/Library/tests/test1
EPR/Library/err_msg.hpp.gch
*.gch
EPR/Library/tests/test